body {
  background-color: #f3f5f6;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.menu {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: #dedede;
  position: fixed;
}

.main {
  width: 80%;
  height: 100%;
  float: right;
}
